main {
  background-color: #250064;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  margin: 0;
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  background-color: #250064;
}

.box {
  width: 60%;
  height: 400px;
  padding: 20px;
  border-radius: 12px;
  background-color: #490064;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin: 0 auto;
}

h1,h2,h3,p,small {
  color: white;
  position: center;
}

.invlink {
  text-decoration: none;
}



/* dropdown button css*/

.dropdown {
  position: fixed;
    right: 20px;
    top: 20px;
}
.dropbtn {
  background-color: #250064;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn .icon {
  width: 1.25rem;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #250064;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}
.dropdown-content a:hover {
  background-color: #1b003f;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #000000;
}