{% extends "base.html" %}

{% block title %}Index - lorem ipsum{% endblock %}

{% block content %}
    <div class="box">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</main>
		<footer>
			<small> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur vel ad corporis reiciendis unde iure, sapiente reprehenderit exercitationem, tempora ratione consequatur ab eum itaque. Dolor placeat nostrum voluptates consequatur quisquam.</small>
		</footer>
{% endblock %}
