{% extends "base.html" %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div class="logout-box">
				<div class="center">
					<p>You have been logged out!</p>
					<p>You will be redirected to the homepage in <span id="countdown">3</span> seconds.</p>
						<script>
							var seconds = 3;
							var countdown = setInterval(function() {
								seconds--;
								document.getElementById('countdown').textContent = seconds;
								if (seconds <= 0) {
								clearInterval(countdown);
								}
							}, 1000);
						</script>
				</div> 
			</div>
{% endblock %}